.barraPegada{
    position: fixed;
    top: 0;
    width: 100%;
}
.logofmle {
    width: 70px;
    height: 70px;
}
.barraPegada + .container {
    padding-top: 80px;
}
nav .navbar-nav li a{
    color: cornflowerblue !important;
}
.navbar-dark{
    background-color: black;
}
.opaque-navbar {
    background-color: rgba(0,0,0,0.8);
    border-bottom: 0px;
}
.row-no-padding {
    margin-left: 0;
    margin-right: 0;
}

[class*="col-"],  /* Elements whose class attribute begins with "col-" */
[class^="col-"] { /* Elements whose class attribute contains the substring "col-" */
    padding-left: 0;
    padding-right: 0;
}
.container-fluid--no-padding {
    padding-left: 5px !important;
    padding-right: 5px !important;
    height: 600px !important;
}
.mapa{
    width: 100%;
    height: 100%;
}

.carousel-inner {
    margin: 0!important;
    width: 100%;
}